# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.WpfIPRawSocks.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sineo\RiderProjects\WpfIPRawSocks\.idea\.idea.WpfIPRawSocks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
