# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.FtpClient.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sineo\RiderProjects\FtpClient\.idea\.idea.FtpClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
