# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Pop3.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sineo\RiderProjects\Pop3\.idea\.idea.Pop3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
